.drawingArea {
    border: 1px solid black;
    display: inline-block;
    position: relative;
    left: 5000px;
    top: 5000px;
    width: 612px;
    height: 792px;
    background-color: white;
} 

.workspace {
    width: 400px;
    flex-grow: 1;
    flex-shrink: 2;
    align-self: stretch;
}

.scrolling {
    width: 10000px;
    height: 10000px;
}

.scroll {
    overflow: scroll;
    height: 100%;
}