.toolbar {
    display: inline-block;
    width: 40px;
    background-color: #535353;
    padding: 10px 0;
} 

.toolIcon {
    height: 15px;
    display: block;
    margin: auto;
}

.toolContainer {
    padding: 2px 3px;
    margin: 10px auto;
    box-sizing: border-box;
    width: 30px;
}

.toolContainer:hover {
    background-color: #3E3E3D !important;
    cursor: pointer;
    border-radius: 3px;
}